<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>글 목록</h1>
    <ol>
        {% for article in articles%}
            <li>
                <a href="{% url 'detail' article.text %}">{{article.title}}{{article.writing_time}}</a>
            </li>
            <br>
        {% endfor %}
    </ol>
</body>
</html>